<p class="green" [class]="green">
  heroes works!
</p>
<button (click)="change()">
  click me now
</button>
<ul>
  <label>id: {{HERO.name}}
    <input [(ngModel)]="HERO.name" placeholder="name">
  </label>
</ul>
